html{
  background-image: url('time.svg'),linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

h1{
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 0;
  font-weight: bold;
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

li {
  margin: 30px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
