@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  background-color: #fafafa;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
}

h3 {
  /* transform: translate(0%, 50%); */
  margin: 20px 20px;
}

p {
  text-align: center;
  font-size: 24px;
}

a {
  text-decoration: none;
}

.JS30 {
  color: #551A8B;
  font-weight: 600;
}

.container{
  display: flex;
  justify-content: center;
}

img {
  object-fit: cover;
  width: 250px;
  height: 150px;
  border-radius: 10px 10px 0 0;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

video {
  width: 250px;
  border-radius: 10px 10px 0 0;
}

/* Grow Shadow */
/* source: https://github.com/IanLunn/Hover */
.item {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  margin: 10px;
  width: 250px;
  height: 240px;
  text-align: center;
  background-color: #CEE5F2;
  border-radius: 10px;
}

.item:hover,
.item:focus,
.item:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/* max, if the screen is < or = then {...} */
/* media queries */
@media (min-width: 1800px)
{
  .grid{
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 1480px) and (max-width: 1800px)
{
  .grid{
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1300px)
{
  .grid{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1000px)
{
  .grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px)
{
  .grid{
    grid-template-columns: repeat(1, 1fr);
  }
}
